body {
    background-color: brown;
}
#pantalla, #listas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button {
    margin-left: 20px;
    font-size: 26px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h1 {  
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    
    list-style: none;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20pt;
    width: 300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  li:hover {
    cursor: pointer;
  }
