body {
    background-color: brown;
}

#pantalla {
    display: flex;
    justify-content: space-between;  
    }
h1 {
    padding: 0px;
    margin-right: 150px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    list-style: none;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20pt;
    width: 300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.completed {
    text-decoration: line-through;
  }
  li:hover {
    cursor: pointer;
  }