
body {
    background-image: url(./1200px-A_large_blank_world_map_with_oceans_marked_in_blue.svg.png);
    position: absolute;
}


input {
    margin-top: 40px;
    color:darkblue;
    margin-left: 60px;
    font-size: 25pt;
    width: 300px;    
  }

.autocomplete {
   
    display: flex;
    flex-direction:column-reverse; 

}

#lista{
    margin: 0;
    padding: 0;
    font-size: 20pt;
    list-style: none;  
    display: none;  
}

.autocomplete li {
   
    margin-left: 64px;
    font-size: 25pt;
    width: 300px;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee; 
    padding: 15px;
}

#lista li:hover {

    background-color: aliceblue;
    cursor: pointer;
}